  /* Estilo para el contenedor del AppBar */
.app-bar-container {
  background-color: #a5d8ff; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%; 
  padding: 20px;
  background-color: #a5d8ff; 
  border-radius: 8px;
  box-sizing: border-box; 
  margin: 0 auto; 
}

/* Estilo para el título */
.app-bar-title {
  font-weight: 700;
  margin: 0;
}

/* Estilo para el subtítulo */
.app-bar-subtitle {
  font-weight: 400; 
  margin: 0;
}