  /* Estilo para el contenedor del AppBar */
.app-bar-container {
  background-color: #a5d8ff; /* Color pastel */
  display: flex;
  flex-direction: column; /* Alinear los elementos verticalmente */
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center; /* Centrar el contenido verticalmente */
  width: 100%; /* Hacer que el contenedor ocupe todo el ancho */
  padding: 20px;
  background-color: #a5d8ff; /* Color pastel */
  border-radius: 8px;
  box-sizing: border-box; /* Incluir padding y bordes en el tamaño total */
  margin: 0 auto; /* Centrar el contenedor */
}

/* Estilo para el título */
.app-bar-title {
  font-weight: 700; /* Negrita para el título */
  margin: 0;
}

/* Estilo para el subtítulo */
.app-bar-subtitle {
  font-weight: 400; /* Regular para el subtítulo */
  margin: 0;
}