/* Button.css */
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: #fff;
  }
  
  .button-add {
    background-color: #4caf50;
  }
  
  .button-add:hover {
    background-color: #45a049;
  }
  
  .button-edit {
    background-color: #007bff;
  }
  
  .button-edit:hover {
    background-color: #0056b3;
  }
  
  .note-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
  }
  